.main
  .main__header
    .main__header__box
      .main__header__box__group
        = @group.name
      .main__header__box__member
        Member : 
        - @group.users.each do |group|
          = group.name
    .main__header__btn
      = link_to "Edit", edit_group_path(@group), class: "main__header__btn--link"
  .main__contents
    = render partial: 'message', collection: @messages
  .main__form
    = form_for [@group, @message] do |f|
      .main__form__input
        = f.text_field :content, class: 'main__form__input--text', placeholder: 'new message'
        = f.label :image, class: 'main__form__input--label' do
          = icon('fas', 'image', class: "main__form__input--label")
          = f.file_field :image, class: 'main__form__input--file'
        = f.submit 'Send', class: 'main__form__input--submit'