.side
   .side__header
      .side__header__name
         = current_user.name
      .side__header__btn
      = link_to new_group_path,class: "side__header__btn" do
         = icon('fas', 'edit', class: "side__header__btn--icon")
  
      = link_to edit_user_path(current_user),class: "side__header__btn" do
         = icon('fas', 'cog', class: "side__header__btn--icon")

   
.side__contents
   - current_user.groups.each do |group|
      .side__contents__box
         = link_to group_messages_path(group) do
            .side__contents__box__name
               = group.name
            .side__contents__box__message
               message
